{% extends "allianceauth/base-bs5.html" %}

{% block content %}
<div class="container mt-4">

    <h1>Collapse Test</h1>

    <button class="btn btn-primary w-100 text-start"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#testcollapse"
            aria-expanded="false"
            aria-controls="testcollapse">
        Test Header
    </button>

    <div id="testcollapse" class="collapse mt-2">
        <div class="card card-body">
            <p>If you can see this, collapse works.</p>
        </div>
    </div>

</div>
{% endblock %}
